/* Add this CSS to your existing styles or create a new CSS file */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: white;
  background-color: black;
  flex-wrap: wrap;
}

/* Style adjustments for small screens */
@media screen and (max-width: 767px) {
  .TableContainer {
    margin-top: 1em;
  }
  .addbtn,
  .form {
    margin-top: 10px;
  }
  .deleteBtn,
  .updateBtn {
    margin-top: 5px; /* Adjust as needed */
  }
}

/* Common styling for buttons and forms */
.addbtn,
.form,
.deleteBtn,
.updateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

/* Style adjustments for small screens */
@media screen and (max-width: 767px) {
  .addbtn,
  .form {
    margin-top: 10px;
  }
  .deleteBtn,
  .updateBtn {
    margin-top: 5px; /* Adjust as needed */
  }
}

/* Style adjustments for the table to make it responsive */
.TableContainer {
  margin-top: 2em;
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

/* Style adjustments for small screens */
@media screen and (max-width: 767px) {
  .TableContainer {
    margin-top: 1em;
  }
}
